<main id="main-hero" class="container-fluid position-relative d-flex flex-column flex-md-row">
    <div id="contenedor__izquierda" class="w-50 p-5 d-flex justify-content-center flex-column text-left gap-3">
        <a href="" class="color-azul fs-4 d-flex align-items-center fw-bold gap-3"><img src="../../assets/logoBitcoin.png">Mira este portafolio<img class="imgFlecha" src="../../assets/flecha-derecha.png"></a>
        <h1 class="text-dark fs-1 fw-bold" style="font-size: calc(3.3rem + 0.5vw) !important;">Mira este portafolio <br>de cripto</h1>
        <p class="fs-4 fw-bold">Coinbase es la mejor app para comprar y vender criptomonedas. Registrate y empieza ahora!</p>
        <form class="formEmpezar d-flex">
          <input class="inputCorreo fs-6" type="email" placeholder="Correo Electrónico">
          <input class="inputEnviar fs-6 border-0 bg-primary rounded-1 text-light" type="submit" value="Empezar">
        </form>
    </div>
    <div id="contenedor__derecha" class="w-50 d-flex justify-content-center">
        <img src="../../assets/movil.png">
    </div>
</main>

<section id="container-precios" class="container-fluid d-flex justify-content-center align-items-center flex-column p-5 gap-5">

    <div class="container-fluid justify-content-center align-items-center p-3">
        <h1 class="text-center fs-1 fw-bold">Los mejores precios de criptomonedas aquí!</h1>
    </div>

    <div class="card-group d-flex flex-md-row flex-column gap-5"> 
      <div class="card p-3" style="width: 18rem;">
          <img src="../../assets/precioBitcoin.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title fs-2 fw-bold text-primary">BitCoin</h5>
            <p class="card-text fs-5">Precio: 20.000€</p>
            <a href="#" class="btn btn-primary">Comprar Ahora</a>
          </div>
        </div>
        <div class="card p-3" style="width: 18rem;">
          <img src="../../assets/precioEthereum.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title fs-2 fw-bold text-primary">Ethereum</h5>
            <p class="card-text fs-5">Precio: 5.000€</p>
            <a href="#" class="btn btn-primary">Comprar Ahora</a>
          </div>
        </div>
        <div class="card p-3" style="width: 18rem;">
          <img src="../../assets/precioLitecoin.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title fs-2 fw-bold text-primary">Lite Coin</h5>
            <p class="card-text fs-5">Precio: 1.000€</p>
            <a href="#" class="btn btn-primary">Comprar Ahora</a>
          </div>
        </div>
  </div>

    <div class="card-group d-flex flex-md-row flex-column gap-5"> 
      <div class="card p-3" style="width: 18rem;">
          <img src="../../assets/precioCardano.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title fs-2 fw-bold text-primary">Cardano</h5>
            <p class="card-text fs-5">Precio: 3.000€</p>
            <a href="#" class="btn btn-primary">Comprar Ahora</a>
          </div>
        </div>
        <div class="card p-3" style="width: 18rem;">
          <img src="../../assets/precioDogecoin.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title fs-2 fw-bold text-primary">DogeCoin</h5>
            <p class="card-text fs-5">Precio: 0.075€</p>
            <a href="#" class="btn btn-primary">Comprar Ahora</a>
          </div>
        </div>
        <div class="card p-3" style="width: 18rem;">
          <img src="../../assets/precioSolana.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title fs-2 fw-bold text-primary">Solana</h5>
            <p class="card-text fs-5">Precio: 500€</p>
            <a href="#" class="btn btn-primary">Comprar Ahora</a>
          </div>
        </div>
  </div>

</section>

<section id="container-aprende" class="container-fluid d-flex justify-content-center align-items-center flex-column mb-5">

  <div class="container-fluid justify-content-center align-items-center p-3">
    <h1 class="text-center fs-1 fw-bold">Aprende sobre criptomonedas</h1>
  </div>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item border border-dark border-2">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          ¿Que son las criptomonedas?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p class="fs-5">Una criptomoneda es un activo digital que emplea un cifrado criptográfico para garantizar su titularidad y 
            asegurar la integridad de las transacciones, y controlar la creación de unidades adicionales, es decir, evitar que 
            alguien pueda hacer copias como haríamos, por ejemplo, con una foto. Estas monedas no existen de forma física: se 
            almacenan en una cartera digital.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item border-start border-end border-dark border-2">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          ¿Como comprar criptomonedas?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p class="fs-5">Existen distintas formas de comprar criptomonedas pero lo más importante es tener una cartera digital, 
            normalmente llamada exchange. Aquí en nuestra página web ofrecemos diferentes criptomonedas, que son las más comúnes
            y podrá consultar su valor al mismo tiempo que comprarlas.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item border-start border-end border-dark border-2">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Consejos para invertir en criptomonedas
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p class="fs-5">Existen dos formas principales para invertir en criptomonedas. La primera es comprar criptomonedas en
             un exchange, a través de un bróker, y la segunda es hacer trading de criptomonedas con productos derivados, como 
             los CFD,
          </p>
        </div>
      </div>
    </div>
  </div>
</section>