<footer id="container-footer" class="container-fluid d-flex justify-content-center align-items-center flex-column flex-md-row">
    <div class="footer__item">
        <a href="#"><h2 class="text-primary fw-bold">coinbase</h2></a>
        <p class="fs-6">©2024 Lorenzo Herrero</p>
    </div>

    <div class="footer__item">
        <a href="#container-precios"><h5 class="fw-bold mb-0 text-dark">Precios</h5></a>
        <h6>Precio de Bitcoin</h6>
    </div>

    <div class="footer__item">
        <a href="#container-aprende"><h5 class="fw-bold mb-0 text-dark">Aprender</h5></a>
        <h6>¿Que son las criptomonedas?</h6>
    </div>

    <div class="footer__item">
        <a href="#"><h5 class="fw-bold mb-0 text-dark">Acerca de</h5></a>
        <h6>Políticad de privacidad</h6>
    </div>

</footer>
